# Kredensial VM untuk Ansible
VM_USER=
VM_PASSWORD=
VM1_PUBLIC_IP=

# Password Database
DB_ROOT_PASSWORD=
DB_REPL_PASSWORD="repl_password"
DB_MONITOR_PASSWORD="monitor_pass"
DB_APP_PASSWORD="app_password"
DB_BACKUP_PASSWORD="backup_password"

# Password ProxySQL
PROXYSQL_ADMIN_PASSWORD="proxysql_admin_password"
