# Ansible VM Credentials
VM_USER=
VM_PASSWORD=
VM1_PUBLIC_IP=

# Database Passwords
DB_REPL_PASSWORD="repl_password"
DB_MONITOR_PASSWORD="monitor_pass"
DB_APP_PASSWORD="app_password"
DB_BACKUP_PASSWORD="backup_password"

# ProxySQL Passwords
PROXYSQL_ADMIN_PASSWORD="proxysql_admin_password"
