[defaults]
host_key_checking = False
remote_tmp = /tmp/.ansible/tmp
allow_world_readable_tmpfiles = True
pipelining = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=30m -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=60 -o ConnectionAttempts=10
retries = 3
pipelining = False
