[mysqld]
server-id               = {{ db_slave_server_id }}
bind-address            = {{ db_slave_bind_address }}
relay-log               = {{ db_slave_log_dir }}/relay-bin
log_bin                 = {{ db_slave_log_dir }}/mysql-bin.log
read_only               = 1
binlog_format           = ROW
expire_logs_days        = 7
max_binlog_size         = 100M
innodb_buffer_pool_size = 512M
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci
{% if db_slave_tls_enabled %}
ssl-ca                  = {{ db_slave_tls_ca_path }}
ssl-cert                = {{ db_slave_tls_cert_path }}
ssl-key                 = {{ db_slave_tls_key_path }}
tls_version             = {{ db_slave_tls_versions }}
{% endif %}
